.pagination__list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	li {
		cursor: pointer;
		margin: 10px 0;
		background-color: #eee;
		border-radius: 200%;
		padding: 10px 15px;
		&:hover {
			background-color: rgb(199, 199, 199);
		}
	}
	li:not(:last-child) {
		margin-right: 20px;
	}
	.active {
		background-color: #288690 !important;
		color: white;
	}
}
