// Hylems
.hylems {
  margin: 20px 0;

  > *:not(:last-child) {
    margin-bottom: 50px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// when user edit hylem inside hylem sequence
.hylem-dialog {
  .MuiPaper-root {
    min-height: 90%;
  }
  input,
  select {
    border: 1px solid #ccc;
    padding: 10px;
    &:focus,
    &:active,
    &:hover {
      outline: 1px solid #28868fe0;
    }
  }

  .determination {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delbtn {
      color: red !important;
    }

    input {
      width: 200px;
    }

    select {
      width: 200px;
    }
	}
}

.gap-dialog {
  max-width: 400px;
}

.hylem-form {
  label {
    margin-right: 10px;
  }

  h5 {
    border-bottom: 1px solid #28868fe0;
    color: #28868f;
    font-size: 28px;
    margin-top: 45px;
    padding: 7px;
    width: 100%;
  }

  .formedit {
    > * {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 0;
      > input {
        flex: .8;
      }
    }
  }
  textarea {
    width: 100%;
  }
  input {
    min-width: 70%;
  }
}
