@import './hylem.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: vertical;
}

div.fullwidth-tabs {
  width: 100%;
  .ra-field {
    > * {
      min-width: 50%;
    }
  }
}

.columnDir {
  display: flex;
  flex-direction: column;
}

.MuiDrawer-docked {
  margin-top: 72px !important;
}

.no-table-style {
  .MuiToolbar-root {
    padding-bottom: 0 !important;
  }

  .MuiTableCell-sizeSmall {
    padding-left: 0 !important;
    padding-top: 0 !important;
  }

  thead {
    display: none !important;
  }
}

.hylem-simple-show-view {
  .MuiInputLabel-shrink {
    margin: 10px 0 -6px 0 !important;
  }
}

.custom-label-shrink {
  color: rgba(0, 0, 0, 0.54);
  padding: 25px 0 0 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}

.custom-checkbox-hylems {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.MuiTableCell-root {
  border-bottom: none !important;
}

main {
  margin-top: -15px !important;
}

.sequence-item-header {
  background-color: snow;
  clear: both;
}

.sequence-item-type {
  clear: both;
  float: left;
  margin: 13px;
  color: #AAAAAA;
}

.sequence-item-utility {
  text-align: right;
  margin-bottom: -5px;
}

.meter {
  box-sizing: content-box;
  height: 3px;
  position: relative;
  background: #DDDDDD;
  padding: 0 !important;
  margin-bottom: 25px !important;
}
.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(52, 174, 187);
  background-image: linear-gradient(
    rgb(52, 174, 187) 100%,
    rgb(40, 134, 144) 100%
  );
  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 20px 8px 8px 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}
